<footer class="footer-admin mt-3 footer-light">
	<div class="container-xl px-4">
		<div class="row">
			<div class="col-md-6 small">Copyright © Tous droits réservés 2019-{{ "now"|date("Y") }}</div>
			<div class="col-md-6 text-md-end small">
				<p>FTTH Centre-France Version 4.01</p>
				{% if (app.user) %}
                    <p>Nombre de connexion : <strong>12525</strong></p>
                {% endif %}			
				</p>
			</div>
		</div>
	</div>
</footer>
